@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #151D07;
  --primary-green: #A2D544;
  --secondary-green: #99E486;
  --accent-green: #66DA62;
  --background: #FCFDF7;
}

body {
  color: rgb(var(--text-color));
  background-color: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
